.brandGroup {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      user-select: none;

      &:before {
        content: '';
        box-sizing: border-box;
        width: 1.286em;
        height: 1.286em;
        border: 1px solid #D0D0D0;
        margin-right: 0.64em;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }

    &:checked + label:before {
      background-image: url("/checkbox_mark.svg");
      background-color: #7993A6;
      border: none;
    }
  }
}