.main {
  position: relative;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  &:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  .newCard {
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 26px;
    position: absolute;
    top: 12px;
    left: 22px;
    background-color: #44C477;
  }

  & > picture {
    position: relative;

    &:before {
      content: "";
      width: 124px;
      height: 124px;
      display: block;
    }

    img {
      position: absolute;
      top: 0;
      &:hover {
        box-shadow: 0 0 70px 10px rgba(34, 60, 80, 0.3);
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;

    & > p {
      font-size: 0.875rem;
      margin: 0;
    }

    .priceRow {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      margin: 11px 0 18px;

      & > span {
        font-size: 0.68rem;
        font-weight: 500;
      }
    }

    .lowerPart {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        cursor: pointer;
        background-color: #FFFFFF;

        &:first-child {
          border: 1px solid #DBDBDB;
          border-radius: 8px;
          padding: 8px 15px;
          font-size: 0.875rem;

          &:hover {
            border-color: black;
          }
        }

        &:last-child {
          padding: 0;
          background-color: transparent;
          border: none;

          svg {
            transition: fill 0.5s;
          }
        }
      }
    }
  }
}

@media (screen and min-width: 768px) {
  .main {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;

    &:not(:last-child) {
      padding-bottom: 0;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    .newCard {
      left: 12px;
    }

    & > picture {
      &:before {
        width: 242px;
        height: 242px;
      }
    }

    .content {
      padding: 12px 16px 15px;
      margin-left: 0;
    }
  }
}

